{% extends "master.html" %}

{%  macro book_detail(name, value) %}
	<p>
		<span class="book-detail">
			{{ name }}:
		</span>
		<span class="book-detail-value">
			{{ value }}
		</span>
	</p>
{% endmacro %}

{% macro authors_list(authors) %}
	{% for author in authors %}
		<a href="#" class="tag">{{ author.name }}</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro languages_list(languages) %}
	{% for language in languages %}
		<a href="#" class="tag">{{ language.lang_code | upper}}</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro series_list(series, index) %}
	{% for entry in series %}
		<a href="#" class="tags has-addons is-inline">
			<span class="tag">
				{{ entry.name }}
			</span>
			<span class="tag is-info">
				{{ index }}
			</span>
		</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro tags_list(tags) %}
	{% for tag in tags %}
		<a href="#" class="tag">{{ tag.name | upper}}</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro publishers_list(publishers) %}
	{% for publisher in publishers %}
		<a href="#" class="tag">{{ publisher.name}}</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% block extra_css %}
	<style>
		.media-left > .image
		{
			width: 200px
		}
	</style>
{% endblock %}

{% block content %}
	<div class="box">
		<article class="media">
			<div class="media-left">
				<figure class="image is-3by4">
					<img src="https://bulma.io/images/placeholders/256x256.png" alt="Image">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<h3 class="is-size-5">
						{{ book.title }}
					</h3>
					<section class="book-details">
						{{ book_detail("Author", authors_list(book.authors)) }}
						{{ book_detail("Languages", languages_list(book.languages)) }}
						{% if book.series %}
						{{ book_detail("Series", series_list(book.series, book.series_index)) }}
						{% endif %}
						{{ book_detail("Publishers", publishers_list(book.publishers)) }}
						{{ book_detail("Tags", tags_list(book.tags)) }}
						{{ book_detail("Publication date:", book.pubdate.strftime('%Y-%m-%d %H:%M')) }}
						{% if book.comment %}
							<p class="book-detail">Description</p>
							<p>
							{{ book.comment.text | safe }}
							</p>
						{% endif %}
					</section>
				</div>
			</div>
		</article>
	</div>
{% endblock %}
