{% extends "master.html" %}

{%  macro book_detail(name, value) %}
	<p>
		<span class="book-detail">
			{{ name }}:
		</span>
		<span class="book-detail-value">
			{{ value }}
		</span>
	</p>
{% endmacro %}

{% macro authors_list(authors) %}
	{% for author in authors %}
		<a href="{{ url_for("author.author_details", author_id=author.id) }}" class="tag">
			{{ author.name }}
		</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro languages_list(languages) %}
	{% for language in languages %}
		<a href="{{ url_for("book_language.language_details", language_id=language.id) }}" class="tag">{{ language.lang_code | upper}}</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro series_list(series, index) %}
	{% for entry in series %}
		<a href="#" class="tags has-addons is-inline">
			<span class="tag">
				{{ entry.name }}
			</span>
			<span class="tag is-info">
				{{ index }}
			</span>
		</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro tags_list(tags) %}
	{% for tag in tags %}
		<a href="#" class="tag">{{ tag.name | upper}}</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% macro publishers_list(publishers) %}
	{% for publisher in publishers %}
		<a href="#" class="tag">{{ publisher.name}}</a> {{ "," if not loop.last }}
	{% endfor %}
{% endmacro %}

{% block extra_css %}
	<style>
		.media-left > .image
		{
			width: 200px
		}

		#content header
		{
			display: flex;
			justify-content: space-between;
		}

		.dropdown-menu
		{
			min-width: unset;
		}
	</style>
{% endblock %}

{% block title %}: {{ book.title | title }}{% endblock %}

{% block content %}
	<div class="box mt-4 ml-">
		<article class="media">
			<div class="media-left">
				<figure class="image is-3by4">
					<img src={{ url_for("book.book_cover", book_id=book.id) }} alt="Image">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<header>
						<h3 class="is-size-5">
							{{ book.title }}
						</h3>
						<div class="actions field">
							{% if "EPUB" in book.data | map(attribute="format") | map("upper") %}
							<a href="{{ url_for("epub_reader.read", book_id=book.id) }}" class="button">
								<ion-icon name="book-outline">
								</ion-icon>
							</a>
							{% endif %}
							<div class="dropdown is-right">
								<div class="dropdown-trigger">
									<button class="button" aria-haspopup="true" aria-controls="download-menu">
										<ion-icon name="download-outline">
										</ion-icon>
									</button>
								</div>
								<div class="dropdown-menu" id="download-menu" role="menu">
									<div class="dropdown-content">
										{% for format in book.data | map(attribute="format") | map("upper") %}
										<a class="dropdown-item" href="{{ url_for("book.book_file", book_id=book.id, version=format|lower) }}">
											{{ format | upper }}
										</a>
										{% endfor %}
									</div>
								</div>
							</div>

						</div>
					</header>
					<article class="book-details">
						{{ book_detail("Author", authors_list(book.authors)) }}
						{{ book_detail("Languages", languages_list(book.languages)) }}
						{% if book.series %}
						{{ book_detail("Series", series_list(book.series, book.series_index)) }}
						{% endif %}
						{{ book_detail("Publishers", publishers_list(book.publishers)) }}
						{{ book_detail("Tags", tags_list(book.tags)) }}
						{{ book_detail("Publication date:", book.pubdate.strftime('%Y-%m-%d %H:%M')) }}
						{% if book.comment %}
							<p class="book-detail">Description</p>
							<p>
							{{ book.comment.text | safe }}
							</p>
						{% endif %}
					</article>
				</div>
			</div>
		</article>
	</div>
{% endblock %}

{% block extra_js %}
	<script>
		(function() {
			const download_dropdown = document.querySelector(".actions .dropdown");
			download_dropdown.addEventListener("click", (event) => {
				event.stopPropagation();
				download_dropdown.classList.toggle("is-active");
			})
		}());
	</script>
{% endblock %}
