{% extends "fullscreen.html" %}

{% block head_bottom %}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
	{% block extra_css %}
	{% endblock %}
{% endblock %}

{% block body %}
	<nav id="main-sidebar" class="sidebar">
		<section class="sidebar-section">
			<ul class="sidebar-section-list">
				<li>
					<a href="{{ url_for("dashboard.index") }}">
						Dashboard
					</a>
				</li>
			</ul>
		</section>
	</nav>
	<div id="main-site">
		<header>
			<nav class="navbar is-info is-fixed-top" id="menu">
				<div class="navbar-brand">
					<a role="button" class="navbar-item btn-burger toggle-button" aria-label="menu" aria-expanded="false">
					  <span aria-hidden="true"></span>
					  <span aria-hidden="true"></span>
					  <span aria-hidden="true"></span>
					</a>
					<a class="navbar-item" href="{{ url_for("dashboard.index") }}">
						Book repository
					</a>
				</div>
			</nav>
		</header>
		<main id="content">
				{% block content %}
				{% endblock %}
			</main>
	</div>
{% endblock %}

{% block script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
	<script>
		var slideout = new Slideout({
			"panel": document.getElementById("main-site"),
			"menu": document.getElementById("main-sidebar"),
			"padding":256,
			"tolerance": 70
		});
		document.querySelector('.toggle-button').addEventListener('click', function() {
			slideout.toggle();
		});
	</script>
{% endblock %}
