{% extends "master.html" %}
{% from "pagination.html" import render_pagination, pagination_js %}

{% block title %} Publishers list{% endblock %}

{% block content %}
	<div class="box">
		<header class="box-header">
			<h3 class="is-size-3">
				Publishers
			</h3>
		</header>
		<table class="table is-fullwidth is-stripped is-hoverable">
			<thead>
				<tr>
					<th>
						<abbr title="Position">Pos</abbr>
					</th>
					<th>Name</th>
					<th>Book count</th>
				</tr>
			</thead>
			<tbody>
				{% for publisher in paginator.items %}
				<tr>
					<th>{{ (paginator.page - 1)* paginator.per_page + loop.index }}</th>
					<td>
						<a href="{{ url_for("publisher.publisher_details", publisher_id=publisher.id) }}">
							{{ publisher.name | upper}}
						</a>
					</td>
					<td>{{ publisher.books | length }}</td>

				</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ render_pagination("publisher.all_publishers", paginator) }}
	</div>
{% endblock %}

{% block extra_js %}
	{{ pagination_js() }}
{% endblock %}
